[user]
	email = root@pedrohlc.com
	name = PedroHLC ☭
	signingkey = F5BFC029DA9A28CE
[core]
	editor = nvim
[rerere]
	enabled = true
[pull]
	rebase = true
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[init]
	defaultBranch = main
