*
  { font-family: FontAwesome, Fira Code, sans-serif
  ; font-size: 12px
  }

label
  { padding: 0px 4px
  }

window#waybar
  { background-color: rgba(0, 0, 0, 0.75)
  ; color: #eeeeee
  ; border-top: 1px solid black
  }

#workspaces button
  { background-color: rgba(5, 5, 220, 0.15)
  ; padding: 0 2px;
  }
#workspaces button.focused
  { border: 1px solid rgba(255, 255, 255, 0.25);
  ; border-radius: 0;
  }

#battery:not(.charging)
  { background-color: green
  }
#battery.good:not(.charging)
  { background-color: #26A65B
  }
#battery.medium:not(.charging)
  { background-color: yellow
  }
#battery.warning:not(.charging)
  { background-color: orange
  }
#battery.charging
  { background-color: #26A65B
  }
#pulseaudio.muted
  { background-color: red
  }